/* Reset margins and padding */
body,
html,
#root,
canvas {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars */
}

/* Ensure full height */
body,
html,
#root {
  height: 100%;
  width: 100%;
  background-color: #666;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

/* If you're using styled-components or emotion, you might want to target the Canvas component directly */
/* canvas {
  display: block;
} */

p {
  margin: 0;
}

a {
  color: #fff;
}
